# Apache 2.4
<IfModule mod_version.c>
      <IfModule mod_filter.c>
        <IfVersion >= 2.4>
				FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'application/json'"
				FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'text/plain'"
				FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'text/html'"
				FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'text/xml'"
				FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'text/css'"
				FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'application/xml'"
				FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'application/xhtml+xml'"
				FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'application/rss+xml'"
				FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'application/javascript'"
				FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'application/x-javascript'"
				FilterProvider COMPRESS  DEFLATE "%{Content_Type} = 'image/svg+xml'"

        </IfVersion>
       </IfModule>
</IfModule>
